<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.dao.ICartDao">
    <resultMap id="Cart" type="main.java.model.Cart">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="userId" property="userId" jdbcType="INTEGER"></result>
        <result column="skuId" property="skuId" jdbcType="BIGINT"></result>
        <result column="amount" property="amount" jdbcType="INTEGER"></result>
        <result column="shopId" property="shopId" jdbcType="INTEGER"></result>
        <result column="ctime" property="ctime" jdbcType="INTEGER"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
    </resultMap>
    <sql id="Base_Column_List">
        id, userId, skuId, amount, shopId, ctime, status
    </sql>
    <!--根据购物车id查询信息,唯一-->
    <select id="selectCartById" parameterType="main.java.model.Cart" resultMap="Cart">
        select <include refid="Base_Column_List"></include>
        from
        t_cart_cart
        where
            id=#{id, jdbcType=BIGINT}
        <if test="status != null">
            and status=#{status, jdbcType=INTEGER}
        </if>
    </select>
    <!--根据用户id查询购物车列表-->
    <select id="selectCartByUserId" parameterType="main.java.model.Cart" resultMap="Cart">
        select <include refid="Base_Column_List"></include>
        from
        t_cart_cart
        where
            userId=#{userId, jdbcType=INTEGER}
        <if test="status != null">
            and status=#{status, jdbcType=INTEGER}
        </if>
    </select>
    <!--插入一条信息-->
    <insert id="insertCart" parameterType="main.java.model.Cart" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_cart_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="skuId != null">
                skuId,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="shopId != null">
                shopId,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="status != null">
                status
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId, jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                #{skuId, jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount, jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId, jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                #{ctime, jdbcType=INTEGER})
            </if>
            <if test="status != null">
                #{status, jdbcType=INTEGER})
            </if>
        </trim>
    </insert>
    <!--更新购物车商品数量-->
    <update id="updateCartById" parameterType="main.java.model.Cart">
        update t_cart_cart
        <set>
            amount = #{amount, jdbcType=INTEGER}
        </set>
        where id = #{id, jdbcType=BIGINT} and status >= 0
    </update>
    <!--删除购物车-->
    <update id="deleteCartById" parameterType="main.java.model.Cart">
        update t_cart_cart
        <set>
            status = #{status, jdbcType=INTEGER}
        </set>
        where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>